<div class="d-flex justify-content-between align-items-center mb-3" 
  (click)="clearValues()"
  >
  <app-page-title [title]="pageTitle"></app-page-title>
  <button
    class="btn btn-primary btn-bg-purple"
    data-bs-toggle="modal"
    data-bs-target="#modalCenter"
    (click)="this.registerForm.reset()"
    >
    <i class="bi bi-plus-circle"></i>
      {{ " " }}Nueva
    </button>
  </div>
  
  <app-propiedades-table 
    [props]="props"
    [action]="action"
    [selection]="selection"
    (selectedActionPropEmitter)="selectProp( $event )"
    (deletePropEvent)="deleteProp( $event )"
  ></app-propiedades-table>
  
  <app-create-update-propiedades 
    [action]="action"
    [selection]="selection"
    [registerForm]="registerForm"
    (createPropEmitter)="createProp( $event )"
    (updatePropEmitter)="updateProp( $event )"
    ></app-create-update-propiedades>