<div class="w-100 justify-content-center p-4">
  <div class="d-flex flex-wrap justify-content-center gap-2">
    <div
    *ngFor="let guarantor of guarantors"
    class="card cardStyle"
  >
    <div class="card-body pb-3 col"  
    (click)="selectProp(guarantor)"
    >
      <h3 class="card-title">{{ guarantor?.nombre | limitString: 10 }} 
        {{ guarantor?.apellidos}}</h3>
      <p class="card-text">{{guarantor?.apodo | limitString: 15 }}</p>
      <div class="d-flex gap-1 justify-content-center">
          <a
          *ngIf="guarantor?._id === selection?._id"
          class="btn btn-primary col small-button"
          routerLinkActive="active" 
          (click)="goToUpdate( guarantor?._id )"
          >          
          Actualizar
          </a>
        <button
          *ngIf="guarantor?._id === selection?._id"
          class="btn btn-danger col small-button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Eliminar
        </button>
      </div>
    </div>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              ¿Desea eliminar?
              <!-- ¿Desea eliminar {{ selection?.nombre }}? -->
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-footer d-flex justify-content-end">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
              (click)="onDeleteGuarantor(selection?._id)"
              >
              Confirmar
            </button>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
