.fixed-bottom {
    bottom: 0;
    z-index: 1000;
  }
  
  .end-0 {
    left: 3rem;
  }
  
  .alert {
    width: 250px;
  }

  .w-25{
    width: 25%
}
  .h-10{
    height: 10%
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
  10% {
    opacity: 10;
  }
	45% {
		opacity: 1;
	}
    100%{
        opacity: 0;
    }
}

  @media (min-width: 576px) { 
    .custom-class {
        display: block;
      }
}
