<div class="modal fade" id="brand-modal" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 fw-semibold m-0">
          {{ !id ? "Agregar Marca" : "Actualizar Marca" }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="onReset(); onResetId()"
        ></button>
      </div>
      <div class="modal-body">
        <p *ngIf="loading">Obteniendo marca...</p>
        <form
          *ngIf="!loading"
          class="row g-3"
          (ngSubmit)="
            !id ? onCreate(brandForm.value) : onUpdate(brandForm.value)
          "
          [formGroup]="brandForm"
        >
          <div class="col-md-12">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="nombre"
                name="nombre"
                formControlName="nombre"
                placeholder="BMW"
              />
              <label for="nombre">Marca</label>
            </div>
            <div
              *ngIf="brandForm.get('nombre')?.touched  && brandForm.get('nombre')?.errors?.['required']"
              class="text-danger mt-2"
            >
              La marca es requida
            </div>
            <div
              *ngIf="brandForm.get('nombre')?.touched  && brandForm.get('nombre')?.errors?.['minlength']"
              class="text-danger mt-2"
            >
              La marca debe tener minimo 3 caracteres
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
              (click)="onReset(); onResetId()"
            >
              Cancelar
            </button>
            <button
              *ngIf="!id"
              type="submit"
              class="btn btn-primary"
              [disabled]="brandForm.invalid"
            >
              Guardar
            </button>
            <button
              *ngIf="id"
              type="submit"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              [disabled]="brandForm.invalid"
            >
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
