<div class="d-flex justify-content-between align-items-center mb-3">
  <app-page-title [title]="'Vehiculos en garantia'"></app-page-title>
  <button
    class="btn btn-primary btn-bg-purple"
    data-bs-toggle="modal"
    data-bs-target="#warranty-vehicle-modal"
    *ngIf="!isLoading"
  >
    <i class="bi bi-plus-circle"></i>
    {{ " " }}Nuevo
  </button>
</div>
<div *ngIf="isLoading"><p>Cargando...</p></div>

<div
  class="d-flex col-lg-4 mb-3 gap-3"
  *ngIf="!isLoading && warrantyVehicles.length > 0"
>
  <div
    class="card text-center"
    role="button"
    *ngFor="let vehicle of warrantyVehicles"
  >
    <a
      (click)="goToDetails(clientId, vehicle._id)"
      class="text-decoration-none text-reset"
    >
      <div class="card-body">
        <h5 class="card-title">{{ vehicle.placa }}</h5>
        <p class="card-text">{{ vehicle.chasis }}</p>
        <p class="card-text">{{ vehicle.color }}</p>
      </div>
    </a>
  </div>
</div>

<div *ngIf="!isLoading && warrantyVehicles.length === 0">
  <p>No hay vehiculos en garantia para mostrar</p>
</div>

<app-create-update-warranty-vehicle
  [clientId]="clientId"
  (addNewVehicle)="onCreate($event)"
/>
