
<div class="container col-4 ">
    <a class="icon-link icon-link-hover pt-4" routerLink="{{this.backUrl}}">
        Regresar
        <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
      </a>
    <h1>Registrar {{formName}}</h1>
    <form class="" (ngSubmit)="onSubmit()" [formGroup]="contactForm">
        <div class="mb-4">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control"  name="name" required formControlName="nombre">
            <div *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['required']" 
            class="alert alert-danger">This Field is required</div>
            <div *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['minlength']" 
            class="alert alert-danger">Name must be longer than {{contactForm.get('name')?.errors?.['minlength'].requiredLength}} characters</div>
        </div>
        <div class="d-grid gap-2 row justify-content-end pb-4">
            <button class="btn btn-primary btn-lg col-11" [disabled]="contactForm.invalid">Crear profesion</button>
        </div>
        <svg height="100px" xmlns="http://www.w3.org/2000/svg" class="d-none">
            <symbol id="check-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
            <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
        <div class=" row justify-content-center">
            <div *ngIf="success" class="alert alert-success fade-in align-items-center row justify-content-center col-7 mr-4 py-2" role="alert">
                <svg class="bi flex-shrink-0 me w-75" fill="darkgreen" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill" />
                </svg>
            </div>
        </div>
        <div class=" row justify-content-center ">         
            <div *ngIf="error" class="alert alert-danger fade-in align-items-center row justify-content-center col-7 p-0"  role="alert">
                <svg class="w-75" fill="darkred" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
            </div> 
        </div>
    </form>
</div>
